header{
    background-color: lightgrey;
    padding: 0.2px 10px;
}

footer{
    background-color: #ddd;
    padding: 0.02px 10px;
    height: 48px;
    margin-top: 20px;
    text-align: center;
}

html{
    width: 800px;
    margin: auto;
}

menu{
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0.3em;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: red;
}

a.index {
    color: #eee;
    background-color: #434A48;
    padding: 10px 372px;
    text-align: center;
}
h1.index{
    text-align: center;
}

a:hover.index {
    color: #eee;
    background-color: black;
}